# Исследование надежности заемщиков.

### Шаг 1. Обзор данных

Чтение и вывод таблицы для ее визуализации.
Получение информации о таблице и использование метода isna() для определения пропущенных значений.

In [1]:
import pandas as pd
data = pd.read_csv('/datasets/data.csv')
display(data)
data.info()
display(data[data['days_employed'].isna()].head(10))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
55,0,NaN,54,среднее,1,гражданский брак,1,F,пенсионер,1,NaN,сыграть свадьбу
65,0,NaN,21,среднее,1,Не женат / не замужем,4,M,компаньон,0,NaN,операции с коммерческой недвижимостью
67,0,NaN,52,высшее,0,женат / замужем,0,F,пенсионер,0,NaN,покупка жилья для семьи
72,1,NaN,32,высшее,0,женат / замужем,0,M,госслужащий,0,NaN,операции с коммерческой недвижимостью
82,2,NaN,50,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,жилье
83,0,NaN,52,среднее,1,женат / замужем,0,M,сотрудник,0,NaN,жилье

Обнаружены пропуски в столбцах days_employed и total_income

### Шаг 2.1 Заполнение пропусков

In [2]:
#доля пропущенных значений
days_employed_proportion = data['days_employed'].isna().sum() / data['days_employed'].count()
total_income_proportion = data['total_income'].isna().sum() / data['total_income'].count()
print(f'Доля пропусков в столбце days_employed: {days_employed_proportion:.0%}')
print(f'Доля пропусков в столбце total_income: {total_income_proportion:.0%}')

Доля пропусков в столбце days_employed: 11%
Доля пропусков в столбце total_income: 11%

Причинами пропусков могут являться некорректная выгрузка или дублирование записи, но с разным написанием цели кредита.
В данном случае для заполнения пропусков корректнее использовать медианное значение, т.к. могут иметься выдающиеся значения.

Заполненим пропуски медианными значениями методом fillna():

In [3]:
data['days_employed'] = data['days_employed'].fillna(value = data['days_employed'].median())
data['total_income'] = data['total_income'].fillna(value = data['total_income'].median())
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

### Шаг 2.2 Проверка данных на аномалии и исправления.

Поиск аномалий в столбцах методом подсчета количества уникальных значений value_counts():

In [4]:
data['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

In [5]:
data['days_employed'].value_counts()

-1203.369529      2175
-8437.673028         1
-5135.928528         1
 354500.415854       1
-769.717438          1
                  ...
-209.984794          1
 398099.392433       1
-1271.038880         1
-1623.362064         1
-1984.507589         1
Name: days_employed, Length: 19351, dtype: int64

In [6]:
data['dob_years'].value_counts()

35    617
40    609
41    607
34    603
38    598
42    597
33    581
39    573
31    560
36    555
44    547
29    545
30    540
48    538
37    537
50    514
43    513
32    510
49    508
28    503
45    497
27    493
56    487
52    484
47    480
54    479
46    475
58    461
57    460
53    459
51    448
59    444
55    443
26    408
60    377
25    357
61    355
62    352
63    269
64    265
24    264
23    254
65    194
22    183
66    183
67    167
21    111
0     101
68     99
69     85
70     65
71     58
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64

In [7]:
data['education_id'].value_counts()

1    15233
0     5260
2      744
3      282
4        6
Name: education_id, dtype: int64

In [8]:
data['family_status'].value_counts()

женат / замужем          12380
гражданский брак          4177
Не женат / не замужем     2813
в разводе                 1195
вдовец / вдова             960
Name: family_status, dtype: int64

In [9]:
data['family_status_id'].value_counts()

0    12380
1     4177
4     2813
3     1195
2      960
Name: family_status_id, dtype: int64

In [10]:
data['gender'].value_counts()

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

In [11]:
data['debt'].value_counts()

0    19784
1     1741
Name: debt, dtype: int64

In [12]:
data['total_income'].value_counts()

145017.937533    2175
253875.639453       1
131286.073745       1
116196.518662       1
157205.834562       1
                 ...
148042.721049       1
60039.334460        1
175979.762960       1
155819.968351       1
82047.418899        1
Name: total_income, Length: 19351, dtype: int64

Аномалии найдены в столбцах: 
<br><b>days_employed</b> - отрицательные значения (устранение приведением модуля числа) и слишком высокие значения (расчитать приблизительное максимально возможное значение, все данные превышающие эти значения заменить на медиану); 
<br><b>children</b> - отрицательные значения (устранение приведением модуля числа) и выбросы (количество выбросов не является значимым для выборки, поэтому значения исправить 'отбрасыванием' 0)
<br><b>dob_years</b> - значение равное 0 (заменить на среднее, так как столбец не имеет выбросов)
<br><b>gender</b> - неожиданное значение (замена на наиболее частое, так как это значение встречается единожды)

In [13]:
data['days_employed'] = abs(data['days_employed'])
data['children'] = abs(data['children'])
data.loc[data['children'] == 20, 'children'] = 2
dob_years_mean = int(data['dob_years'].mean())
data.loc[data['dob_years'] == 0, 'dob_years'] = dob_years_mean
days_employed_median_new = data['days_employed'].median()
dob_years_max = data['dob_years'].max() * 300
data.loc[data['days_employed'] > dob_years_max, 'days_employed'] = days_employed_median_new
data.loc[data['gender'] == 'XNA', 'gender'] = 'F'
display(data.head(10))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,1808.053434,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

### Шаг 2.3. Изменение типов данных.

Изменение типа данных в столбце <b>total_income</b> с float64 на int методом astype():

In [14]:
data['total_income'] = data['total_income'].astype('int')

### Шаг 2.4. Удаление дубликатов.

In [15]:
#поиск уникальных значений
data['education'].unique()

array(['высшее', 'среднее', 'Среднее', 'СРЕДНЕЕ', 'ВЫСШЕЕ',
       'неоконченное высшее', 'начальное', 'Высшее',
       'НЕОКОНЧЕННОЕ ВЫСШЕЕ', 'Неоконченное высшее', 'НАЧАЛЬНОЕ',
       'Начальное', 'Ученая степень', 'УЧЕНАЯ СТЕПЕНЬ', 'ученая степень'],
      dtype=object)

In [16]:
#приведение всех значений к нижнему регистру
data['education'] = data['education'].str.lower()
display(data.head(10))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование
4,0,1808.053434,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи

In [17]:
#удаление дубликатов с созданием новых индексов с помощью reset_index(drop=True)
key = ['children', 'days_employed', 'dob_years', 'education_id', 'family_status_id', 'gender', 'income_type', 'total_income']
data = data.drop_duplicates(subset=key).reset_index(drop=True)

### Шаг 2.5. Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма.

In [18]:
education = data[['education', 'education_id']].drop_duplicates().reset_index(drop=True)
display(education)

             education  education_id
0               высшее             0
1              среднее             1
2  неоконченное высшее             2
3            начальное             3
4       ученая степень             4

In [19]:
family_status = data[['family_status_id', 'family_status']].drop_duplicates().reset_index(drop=True)
display(family_status.head())

   family_status_id          family_status
0                 0        женат / замужем
1                 1       гражданский брак
2                 2         вдовец / вдова
3                 3              в разводе
4                 4  Не женат / не замужем

In [20]:
#удаление из исходной таблицы столбцов 'education' и 'family_status'
data.drop(columns = ['education', 'family_status'],axis = 1, inplace=True)

Из словарей удалены дубликаты.

### Шаг 2.6. Категоризация дохода.

Создание функции для категоризации дохода заемщика и добавление нового столбца в исходную таблицу

In [21]:
def total_income_category(total_income):
    if total_income <= 30000:
        return 'E'
    if total_income <= 50000:
        return 'D'
    if total_income <= 200000:
        return 'C'
    if total_income <= 1000000:
        return 'B'
    return 'A'
data['total_income_category'] = data['total_income'].apply(total_income_category)
display(data)

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437.673028,42,0,0,F,сотрудник,0,253875,покупка жилья,B
1,1,4024.803754,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,C
2,0,5623.422610,33,1,0,M,сотрудник,0,145885,покупка жилья,C
3,3,4124.747207,32,1,0,M,сотрудник,0,267628,дополнительное образование,B
4,0,1808.053434,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,C
...,...,...,...,...,...,...,...,...,...,...,...
20690,1,4529.316663,43,1,1,F,компаньон,0,224791,операции с жильем,B
20691,0,1808.053434,67,1,0,F,пенсионер,0,155999,сделка с автомобилем,C
20692,1,2113.346888,38,1,1,M,сотрудник,1,89672,недвижимость,C
20693,3,3112.481705,38,1,0,M,сотрудник,1,244093,на покупку своего автомобиля,B
20694,2,1984.507589,40,1,0,F,сотрудник,0,82047,на покупку автомобиля,C

### Шаг 2.7. Категоризация целей кредита.

Создание функции для категоризации целей кредита и добавление нового столбца в исходную таблицу

In [22]:
def purpose_category(purpose):
    if 'жиль' in purpose or 'недвиж' in purpose:
        return 'операции с недвижимостью'
    if 'автомоб' in purpose:
        return 'операции с автомобилем'
    if 'свадьб' in purpose:
        return 'проведение свадьбы'
    return 'получение образования'
data['purpose_category'] = data['purpose'].apply(purpose_category)
display(data)

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,0,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,1,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,1,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,1808.053434,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...
20690,1,4529.316663,43,1,1,F,компаньон,0,224791,операции с жильем,B,операции с недвижимостью
20691,0,1808.053434,67,1,0,F,пенсионер,0,155999,сделка с автомобилем,C,операции с автомобилем
20692,1,2113.346888,38,1,1,M,сотрудник,1,89672,недвижимость,C,операции с недвижимостью
20693,3,3112.481705,38,1,0,M,сотрудник,1,244093,на покупку своего автомобиля,B,операции с автомобилем
20694,2,1984.507589,40,1,0,F,сотрудник,0,82047,на покупку автомобиля,C,операции с автомобилем

### Ответы на вопросы.

<b>Вопрос 1:</b> Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [23]:
print(data.groupby('children')['debt'].count().sort_values(ascending=False))
print(data.groupby('children')['debt'].mean().sort_values(ascending=False)* 100)

children
0    13518
1     4726
2     2074
3      328
4       40
5        9
Name: debt, dtype: int64
children
4    10.000000
2     9.402122
1     9.246720
3     8.231707
0     7.515905
5     0.000000
Name: debt, dtype: float64

<b>Вывод 1:</b> Наиболее часто кредиты берут люди без детей. Прослеживается зависимость, что семьи с большем количеством детей реже берут кредиты. Но при этом наибольший процент семей с задолженностями оказался в категории "4 детей". Так как выборка в данной категории достаточно маленькая - 40 кредитов, нельзя уверенного говорить о достоверности вывода. Считаю, что следует обратить внимание на семьи с 1 или 2 детьми. Они часто берут кредиты и при этом доля просрочек достаточно высокая (около 10%).

<b>Вопрос 2:</b> Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [24]:
display(data.groupby('family_status_id')['debt'].count().sort_values(ascending=False))
display(data.groupby('family_status_id')['debt'].mean().sort_values(ascending=False)* 100)

family_status_id
0    11788
1     4055
4     2746
3     1180
2      926
Name: debt, dtype: int64

family_status_id
4    9.868900
1    9.321825
0    7.533084
3    6.949153
2    6.479482
Name: debt, dtype: float64

<b>Вывод 2:</b> Люди в гражданском браке и незамужние наиболее часто имеют задолженности по кредиту.

<b>Вопрос 3:</b> Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [25]:
display(data.groupby('total_income_category')['debt'].count().sort_values(ascending=False))
display(data.groupby('total_income_category')['debt'].mean().sort_values(ascending=False)* 100)

total_income_category
C    15257
B     5041
D      350
A       25
E       22
Name: debt, dtype: int64

total_income_category
E    9.090909
C    8.507570
A    8.000000
B    7.062091
D    6.000000
Name: debt, dtype: float64

<b>Вывод 3:</b> Наибольшее количество просрочек у людей с низкими уровнем дохода, но так же как и в ситуации с семьями с детьми данная категория берет наименьшее количество кредитов. Следует обратить внимание на заемщиков с доходом от 50 тыс до 200 тыс, в данной категории наибольшее количество кредитов и высокая доля просрочек.

<b>Вопрос 4:</b> Как разные цели кредита влияют на его возврат в срок?

In [26]:
display(data.groupby('purpose_category')['debt'].count().sort_values(ascending=False))
display(data.groupby('purpose_category')['debt'].mean().sort_values(ascending=False)* 100)

purpose_category
операции с недвижимостью    10425
операции с автомобилем       4159
получение образования        3831
проведение свадьбы           2280
Name: debt, dtype: int64

purpose_category
операции с автомобилем      9.449387
получение образования       9.240407
проведение свадьбы          7.894737
операции с недвижимостью    7.213429
Name: debt, dtype: float64

<b>Вывод 4:</b> Наибольшее количество кредитов выдано для проведения операций с недвижимостью, но при этом в данной категории наименьший процент задолженностей. Чаще всего проблемы с возвратом в срок возникают для таких целей как "операций с автомобилем" или "получение образования".

## Общий вывод:

Наиболее часто проблемы с задолженностями по кредитам имеют заемщики, находящиеся в гражданском браке, или незамужние/ не женатые, с 1 или 2 детьми, с уровнем дохода от 50 тыс. до 200 тыс., и целью кредита "операции с автомобилем" или "получение образования". Исходя из данного анализа можно предположить, что наибольшие проблемы с возвратом задолженностей имеют молодые семьи и студенты.